html {
    overflow: hidden;
}

body {
    margin: 0 auto;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url("./assets/fon.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 120em;
    height: 88%;
}

.mems {
    margin: 3em 23%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.mem {
    width: 100%;
    height: 32vw;
    box-shadow: inset 0 0 2.5em 0.2em #000000;
    background: url(./assets/mem1.jpg) no-repeat center;
    background-size: 100% 100%;
    transition: 1.5s ease all;
    border-radius: 1.5em;
    margin-bottom: 2.5em;
    animation-name: open;
    animation-duration: 1.5s;
}

.text {
    margin: 0;
    font-family: cursive;
    font-size: 1.2vw;
    font-weight: 900;
    letter-spacing: 0.15em;
    color: yellow;
    display: flex;
    animation-name: open;
    animation-duration: 1s;
}

input[type="radio"] {
    display: none;
}

label {
    margin-top: -2em !important;
}

.label1 {
    margin-left: calc(100% - 16em) !important;
}

input[type="radio"] + label {
    display: block;
    background-color: yellow;
    border: 0.3em solid yellow;
    border-radius: 50%;
    margin: 0.5em;
    padding: 0.8em;
    animation-name: open;
    animation-duration: 1.5s;
    transition: 1.5s;
}

input[type="radio"]:checked + label {
    background: none;
}

input[type="radio"] + label:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), yellow;
}

input[type="radio"]:hover, label:hover {
    cursor: pointer;
    transform: scale(1.2);
}

span.text {
    display: none;
}

#memasik1:checked ~ span.text1{
    display: block;
}

#memasik2:checked ~ .mem {
    background: url(./assets/mem2.jpg) no-repeat center;
    background-size: 100% 100%;
}

#memasik2:checked ~ span.text2{
    display: block;
}

#memasik3:checked ~ .mem {
    background: url(./assets/mem3.jpg) no-repeat center;
    background-size: 100% 100%;
}

#memasik3:checked ~ span.text3{
    display: block;
}

#memasik4:checked ~ .mem {
    background: url(./assets/mem4.jpg) no-repeat center;
    background-size: 100% 100%;
}

#memasik4:checked ~ span.text4{
    display: block;
}

#memasik5:checked ~ .mem {
    background: url(./assets/mem5.jpg) no-repeat center;
    background-size: 100% 100%;
}

#memasik5:checked ~ span.text5{
    display: block;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    font-family: cursive;
    font-size: 1.5vw;
    font-weight: 600;
    color: #9e9e9e59;
    margin: 0 23%;
}

footer {
    margin: 0 auto;
    max-width: 120em;
}

a {
    text-decoration: none;
    color: #9e9e9e85;
}

.rs-school, .github {
    transition: 1s;
}

.rs-school:hover, .github:hover {
    transform: scale(1.2);
    color: white;
}

@keyframes open {
    0% {
        display: block;
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        display: block;
        opacity: 1;
        transform: scale(1);
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    label {
        padding: 0.4em !important;
        margin-top: -1.2em !important;
    }

    .label1 {
        margin-left: calc(100% - 12em) !important;
    }
}

@media (max-width: 1024px) {
    .mems {
        margin: 3em 10%;
    }

    .mem {
        height: 48vw;
    }

    label {
        padding: 0.3em !important;
        margin-top: -0.5em !important;
    }

    .label1 {
        margin-left: calc(50% - 5em) !important;
    }

    span.text {
        margin: 2em 1em -4em 0;
    }

    .text {
        font-size: 2.6vw;
    }

    .footer-container, a {
        font-size: 2vw;
        color: #c4c4c4;
    }

    .footer-container {
        margin: 0 10%;
    }
}

@media (max-width: 620px) {
    .mems {
        margin: 3em 5%;
    }

    .mem {
        height: 62vw;
    }

    .footer-container, a {
        font-size: 2.5vw;
    }

    .text {
        font-size: 3vw;
    }
}
